[Unit]
Description=Run Buildroonix database backup daily

[Timer]
OnCalendar=*-*-* 02:00:00 UTC
Persistent=true
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
